.post_card {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--gray);
}

.post_card .post_header {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}
.post_card .post_header .post_header_info {
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  gap: 10px;
}

.post_card .post_header .dropdown .body li {
  white-space: nowrap;
  padding: 0 5px;
}
.post_card .post_header .dropdown .body li:hover {
  cursor: pointer;
  background-color: var(--gray_background);
}

.post_card p.message,
#modal .modal_container.post_images .post_images_sidebar .message {
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
}

/* Images */
.post_card .images {
  margin: 0 -15px;
  /* width: 100%; */
  height: fit-content;
  max-height: 768px;
  overflow: hidden;
  display: grid;
  gap: 1px;
}

.post_card .images li {
  width: 100%;
}

.post_card .images li img {
  object-fit: cover;
}
.post_card .images li img:hover {
  cursor: pointer;
}

.post_card .images.two {
  grid-template-rows: 384px 383px;
  grid-template-areas:
    'image1'
    'image2';
}
/* 
.post_card .images.three {
  grid-template-rows: 380px 380px;
  grid-template-columns: 400px 270px;
  grid-template-areas: 
  'image1 image2'
  'image1 image3';
} */

.post_card .images.three {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 490px 277px;
  grid-template-areas:
    'image1 image1'
    'image2 image3';
}

.post_card .images.four,
.post_card .images.more {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 490px 277px;
  grid-template-areas:
    'image1 image1 image1'
    'image2 image3 image4';
}

.post_card .images .image1 {
  grid-area: image1;
}

.post_card .images .image2 {
  grid-area: image2;
}

.post_card .images .image3 {
  grid-area: image3;
}

.post_card .images .image4 {
  grid-area: image4;
  position: relative;
}

.post_card .images.more .image4 img {
  filter: brightness(50%);
}

.post_card .images.more .image4 span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 25px;
}

/* Full Screen Modal */
#modal .modal_container.post_images {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 360px;
  grid-template-rows: 1fr;
  grid-template-areas: 'post_images_container sidebar';
  min-height: 100vh;
  min-width: 100vw;
}

#modal .modal_container.post_images.full_screen {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'post_images_container';
  min-height: 100vh;
  min-width: 100vw;
}
#modal .modal_container.post_images .post_images_sidebar .post_header {
  width: 100%;
  height: 50px;
  justify-content: space-between;
  gap: 30px;
}
/* #modal .modal_container.post_images::-webkit-scrollbar {
  display: none;
} */

#modal .modal_container.post_images button.close_modal_btn {
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: auto;
  background: var(--black);
  opacity: 40%;
  border-radius: 50%;
}

/* Sidebar  */
#modal .modal_container.post_images .post_images_sidebar {
  grid-area: sidebar;
  background-color: var(--white);
  height: 100%;
  padding: 40px 20px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
}
#modal .modal_container.post_images .post_images_sidebar::-webkit-scrollbar {
  display: none;
}
#modal .modal_container.post_images.full_screen .post_images_sidebar {
  display: none;
}
#modal .modal_container.post_images .post_images_sidebar .sidebar_container {
  height: fit-content;
  width: 100%;
}

#modal .modal_container.post_images .post_images_container {
  grid-area: post_images_container;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  min-height: 50vh;
}

#modal .modal_container.post_images .post_images_container .slider_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#modal .modal_container.post_images .post_images_container .slider_container .slide,
#modal .modal_container.post_images .post_images_container .slider_container > ul,
#modal .modal_container.post_images .post_images_container .slider_container ul li,
#modal
  .modal_container.post_images
  .post_images_container
  .slider_container
  ul
  li
  .slide_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: clip;
  width: 100%;
}

#modal
  .modal_container.post_images
  .post_images_container
  .slider_container
  ul
  li
  .slide_container {
  position: relative;
}

#modal
  .modal_container.post_images
  .post_images_container
  .slider_container
  ul
  li
  .slide_container
  .image {
  z-index: 100;
  overflow: scroll;
}

#modal
  .modal_container.post_images
  .post_images_container
  .slider_container
  li
  .slide_container
  .image
  img {
  object-fit: contain;
}

#modal
  .modal_container.post_images
  .post_images_container
  .slider_container
  ul
  li
  .blurred_background {
  display: none;
}

/* Buttons */
#modal .modal_container.post_images .post_images_container .slider_container .next,
#modal .modal_container.post_images .post_images_container .slider_container .prev {
  top: 50%;
}

#modal .modal_container.post_images .image::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1280px) {
  #modal .modal_container.post_images {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'post_images_container'
      'sidebar';
  }
  #modal .modal_container.post_images.full_screen {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'post_images_container';
  }
  #modal
    .modal_container.post_images
    .post_images_container
    .slider_container
    ul
    li
    .slide_container
    .image {
    overflow: auto;
  }
  #modal .modal_container.post_images .slider_container .prev,
  #modal .modal_container.post_images .slider_container .next {
    width: 40px;
    height: 40px;
    font-size: 25px;
    background: var(--black);
    opacity: 40%;
    border: none;
    border-radius: 50%;
    top: 50%;
  }
  #modal .modal_container.post_images .slider_container .prev {
    left: 10px;
  }
  #modal .modal_container.post_images .slider_container .next {
    right: 20px;
  }
  #modal .modal_container.post_images .post_images_sidebar {
    height: 50vh;
    padding: 10px 20px;
  }
}
