.reactions {
  position: relative;
}
/* Main Button */
.reactions > .button_container.active {
  color: var(--watermelon)
}

/* Reaction Button Group */
.reactions .reactions_button_group {
  display: none;
  position: absolute;
  top: -40px;
  left: -10px;
  height: 40px;
  border-radius: 20px;
  /* visibility: visible; */
  width: fit-content;
  /* opacity: 1; */
  transition: opacity 0.3s;
  z-index: 1001;
  padding: 4px;
  background: var(--white);
  color: var(--white);
  gap: 5px;
}

.reactions .reactions_button_group .button_container {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: var(--white);
  font-size: 20px;
  padding: 0;
}

.reactions .tooltip_body.top {
  border-radius: 7px;
  font-weight: bold;
}

.reactions .reactions_button_group .button_container:hover {
  border-bottom: none;
}

.reactions .reactions_button_group .button_container.like {
  background: var(--blue);
}

.reactions .reactions_button_group .button_container.like i {
  animation: animateThumbs 2s ease-in-out infinite;
}

.reactions .reactions_button_group .button_container.dislike {
  background: var(--orange);
}

.reactions .reactions_button_group .button_container.dislike i {
  animation: animateThumbs 2s ease-in infinite;
}

.reactions .reactions_button_group .button_container.heart {
  background: var(--red);
}

.reactions .reactions_button_group .button_container.heart i {
  animation: animateHeart 2s infinite;
}

.reactions .reactions_button_group .button_container.smile i {
  font-size: 36px;
  color: var(--sky);
  animation: animateFace 2s infinite;
}

.reactions .reactions_button_group .button_container.laugh i {
  font-size: 36px;
  color: var(--kiwi);
  animation: animateFace 2.3s infinite;
}

.reactions .reactions_button_group .button_container.sad i {
  font-size: 36px;
  color: var(--spirulina);
  animation: animateFace 1.5s infinite;
}

.reactions .reactions_button_group .button_container.angry i {
  font-size: 36px;
  color: var(--malibu);
  animation: animateFace 2.1s infinite;
}

.reactions:hover .reactions_button_group,
.reactions .reactions_button_group:hover {
  /* visibility: visible;
  opacity: 1; */
  display: flex;
}

@keyframes animateHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateThumbs {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.9) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes animateFace {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
