.photo_list_container {
  padding: 15px;
  height: fit-content;
  width: 100%;
}

.photo_list_container .header {
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.photo_list_container .header_controls {
  border: none;
}

.photo_list_container .header h1 {
  font-size: 25px;
}

.photo_list_container .header button {
  font-size: 17px;
}

.photo_list_container .photo_list {
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  justify-content: flex-start;
}

.photo_list_container .photo_list img {
  width: 150px;
  height: 150px;
}

.photo_list img {
  overflow: clip;
  object-fit: cover;
  border-radius: 10px;
}

.photo_list img:hover {
  cursor: pointer;
}

.photo_list_container.profile_posts_screen img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

#modal .modal_container.images_list {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'images_container';
  min-height: 100vh;
  min-width: 100vw;
}

#modal .modal_container.images_list .images_container {
  grid-area: images_container;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

#modal .modal_container.images_list .images_container .slider_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#modal .modal_container.images_list .images_container .slider_container .slide,
#modal .modal_container.images_list .images_container .slider_container > ul,
#modal .modal_container.images_list .images_container .slider_container ul li,
#modal .modal_container.images_list .images_container .slider_container ul li .slide_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: clip;
  width: 100%;
}

#modal .modal_container.images_list .images_container .slider_container ul li .slide_container {
  position: relative;
}

#modal
  .modal_container.images_list
  .images_container
  .slider_container
  ul
  li
  .slide_container
  .image {
  z-index: 100;
  overflow: scroll;
}

#modal
  .modal_container.images_list
  .images_container
  .slider_container
  li
  .slide_container
  .image
  img {
  object-fit: contain;
}

#modal .modal_container.images_list .images_container .slider_container ul li .blurred_background {
  display: none;
}

#modal .modal_container.images_list .images_container .slider_container .prev,
#modal .modal_container.images_list .images_container .slider_container .next {
  top: 50vh;
}

#modal .modal_container.images_list button.close_modal_btn {
  height: 40px;
  width: 40px;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: auto;
  left: 10px;
  background: transparent;
}
