.profile_page .profile_header {
  position: relative;
  height: fit-content;
  width: 100vw;
  box-shadow: var(--box_shadow);
}

.profile_page .profile_header .container,
.profile_content {
  width: 100vw;
  max-width: 1200px;
}

.profile_page .profile_header .container {
  position: relative;
  z-index: 2;
}

.profile_page .profile_header .blurred_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.profile_page .profile_header .cover {
  position: relative;
  height: 400px;
  width: 100vw;
  max-width: 1240px;
  background: var(--white);
}

.profile_page .profile_header .cover .button_container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.profile_page .profile_header .cover img {
  object-fit: cover;
  overflow-x: clip;
  border-radius: 0 0 10px 10px;
}

.profile_page .profile_header .info.flex {
  height: 300px;
  width: 100%;
  justify-content: space-between;
  margin-top: -150px;
}

.profile_page .profile_header .info .avatar_name h1 {
  font-size: 35px;
}

.profile_page .profile_header .info .avatar_name h6 {
  font-size: 22px;
  color: var(--gray_dark);
}

.profile_page .profile_header .info .avatar_name,
.profile_page .profile_header .info .button_group {
  gap: 20px;
  align-items: flex-end;
}

.profile_page .profile_header .info .avatar_name .details,
.profile_page .profile_header .info .button_group {
  padding-bottom: 20px;
}

.profile_page .profile_header .info .avatar_name .details {
  align-items: flex-start;
}

.profile_page .profile_header .friends_avatars .avatar {
  margin-right: -5px;
  flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .profile_page .profile_header .info.flex {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .profile_page .profile_header .cover .button_container {
    right: 10px;
    min-width: 35px;
    margin: 0;
    padding: 0;
  }

  .profile_page .profile_header .cover img {
    border-radius: 0px;
  }

  .profile_page .profile_header .info.flex {
    justify-content: center;
    height: fit-content;
  }

  .profile_page .profile_header .cover .button_container span {
    display: none;
  }

  .profile_page .profile_header .info .avatar_name {
    flex-direction: column;
    gap: 0;
  }
  .profile_page .profile_header .info .avatar_name .details {
    align-items: flex-start;
    padding: 10px;
  }
}
