.login_screen {
  height: 100%;
  width: 100%;
  background-color: var(--gray_background);
}

.login_screen .login_container {
  padding: 30px 50px;
  height: fit-content;
  flex-direction: column;
  gap: 0px;
}

.login_screen .login_container .form_component {
  width: 400px;
}

.login_screen .login_container .form_component .wrapper {
  height: 36px;
}

.login_screen a {
  color: blue;
  text-decoration: none;
}

.login_screen a:hover {
  text-decoration: underline;
}
