.comment_card {
  height: fit-content;
  width: fit-content;
  margin-left: 35px;
  margin-top: 10px;
}

.comment_card.top {
  margin-left: 0;
  margin-top: 0;
}

.comment_card .single_comment {
  display: grid;
  grid-template-columns: 40px minmax(250px, 1fr);
  grid-template-rows: 1fr 10px 20px;
  grid-template-areas:
    'avatar content'
    'avatar footer'
    'avatar reply_hide_btn';
  gap: 5px;
  position: relative;
}

.comment_card .single_comment.reply {
  grid-template-rows: 1fr 10px 40px 25px;
  grid-template-areas:
    'avatar content'
    'avatar footer'
    'avatar reply'
    'avatar reply_hide_btn';
}

.comment_card:not(.last) > .single_comment:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 100%;
  background-color: var(--gray);
}

.comment_card:not(.top) > .single_comment:after {
  content: '';
  position: absolute;
  bottom: calc(100% - 20px);
  left: -20px;
  width: 50px;
  height: calc(100% + 30px);
  border-bottom: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-radius: 0 0 0 10px;
  background: transparent;
}

.comment_card .avatar {
  grid-area: avatar;
  z-index: 100;
}

.comment_card .content {
  grid-area: content;
  position: relative;
  width: fit-content;
  min-width: 250px;
  align-items: flex-start;
  background-color: var(--gray_background);
  border-radius: 10px;
  padding: 0 10px;
}

.comment_card .single_comment .content .comment_content,
.comment_card .single_comment .content .comment_content input {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.comment_card .content .edit_buttons {
  display: none;
}

.comment_card .content:hover .edit_buttons {
  display: block;
}

.comment_card .content .reactions_list {
  position: absolute;
  height: fit-content;
  bottom: -15px;
  right: 5px;
  padding: 0 4px;
  gap: 5px;
  font-size: 13px;
}

.comment_card .content .reactions_list i {
  color: red;
}

.comment_card .footer {
  grid-area: footer;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 5px;
}

.comment_card .button_container.replies.text {
  grid-area: reply_hide_btn;
  padding-left: 5px;
  display: none;
}

.comment_card .button_container.replies.text.show {
  display: flex;
}

.comment_card .reply_form {
  grid-area: reply;
  display: none;
}

.comment_card .reply_form.show {
  display: flex;
}
