.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.dropdown .header,
.dropdown .header .button_container {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
}

.dropdown .header:hover {
  background-color: var(--gray_background);
}

.dropdown .body {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 12px);
  height: fit-content;
  width: fit-content;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
  border: 2px solid var(--gray);
  border-radius: 5px;
  background: var(--white);
  padding: 5px 10px;
  box-shadow: var(--box_shadow_4);
}

.dropdown .body.pointed::before {
  content: '';
  position: absolute;
  top: -12px;
  transform: rotate(45deg);
  right: calc(50% - 12px);
  background: var(--white);
  width: 20px;
  height: 20px;
  border: 2px solid var(--gray);
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  z-index: -1;
}

.dropdown .body.show {
  visibility: visible;
  opacity: 1;
}

.profile_about .profile_about_card .profile_info li .dropdown .body.show {
  top: calc(100% + 5px);
  width: fit-content;
  min-width: 250px;
  border: none;
}

.profile_about .profile_about_card .profile_info li .dropdown .body.show .menu_info_item li {
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  padding: 0 10px;
}
.profile_about .profile_about_card .profile_info li .dropdown .body.show .menu_info_item li:hover {
  cursor: pointer;
}

.profile_about .profile_about_card .profile_info li .dropdown .body.show .menu_info_item li i {
  font-size: 18px;
  width: 20px;
}
