.friend_request_card {
  width: 200px;
  height: 350px;
  display: grid;
  grid-template-rows: 200px 150px;
  grid-template-areas:
    'avatar'
    'info';
  overflow: clip;
}

.friend_request_card.horizontal {
  width: 340px;
  height: 110px;
  grid-template-rows: 110px;
  grid-template-columns:110px 1fr ;
  grid-template-areas:
    'avatar info';
}

.friend_request_card .avatar {
  grid-area: avatar;
  width: 100%;
  height: 100%;
}

.friend_request_card .info {
  grid-area: info;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 20px 90px;
  grid-template-areas:
    'name'
    'connections'
    'buttons';
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
}

.friend_request_card.horizontal .info {
  height: 100%;
  display: grid;
  grid-template-rows: 30px 20px 50px;
  grid-template-areas:
    'name'
    'connections'
    'buttons';
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* .friend_request_card.horizontal.friend .info {
  height: 100%;
  display: grid;
  grid-template-rows: 60px 30px;
  grid-template-areas:
    'name'
    'connections';
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

/* .friend_request_card.friend .info .button_group {
  display: none;
} */

.friend_request_card .info .button_group {
  width: 100%;
  gap: 10px;
}

.friend_request_card.horizontal .info .button_group {
  flex-direction: row;
}

.friend_request_card .info .button_group .button_container:first-child {
  background-color: var(--blue);
  color: var(--white);
}

.friend_request_card .info .button_group .button_container:last-child {
  background-color: var(--gray);
  color: var(--black);
}

.friend_request_card .info .button_group .button_container {
  width: 100%;
  margin: 0;
}
.friend_request_card .info .button_group .button_container {
  /* width: 50px;
  min-width: 50px; */
}