.post_card {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0px 15px;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--gray)
}

.post_card .images {
  margin: 0 -15px;
}
