.sidebar_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}

.sidebar_left .accordion {
  border-radius: 0 10px 10px 0;
  overflow-x: clip;
}

.sidebar_left .accordion .accordion_item {
  background-color: transparent;
}

.sidebar_left .accordion .accordion_item.show {
  margin: 0;
}

.sidebar_left .accordion .accordion_header {
  background-color: var(--white);
}


