.sidebar_right {
  grid-area: right_sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 0;
  width: 100%;
}

.sidebar_right .accordion {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  border-radius: 10px 0 0 10px;
  overflow-x: clip;
}

.sidebar_right .accordion .accordion_item.show {
  margin: 0;
}

.sidebar_right .accordion .accordion_header {
  background-color: var(--white);
}

.sidebar_right .accordion .accordion_item {
  background-color: transparent;
}

.sidebar_right .accordion .accordion_body.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1024px) {
  .sidebar_right {
    display: none;
  }
}